body {
    height: 100vh;
    width: 100vw;
}

x3d {
    width: 100% !important;
    height: 100% !important;
    background-image: url(https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2016/observableun.jpg) !important;
    background-size: cover;
}