/*general css*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    margin: 0;
    background-image: url(../img/moons-of-Mars-large.jpg);
    background-attachment: fixed;
    background-position: right 260px center;
    background-size: cover;
}

h1,
h2,
h3{
    font-family: 'Bungee', cursive;
    text-align: right !important;
}

h3{
    font-size: 1.5em;
}

section {
    height: 100vh;
    position: relative;
}

section > div, header > div {
    position: absolute;
}

/*components css*/

.padding-0 {
    padding: 0 !important;
}

.button {
    border-radius: 0;
    border: none;
    padding: 6px 18px;
    margin: 0 2px;
    cursor: pointer;
    overflow: hidden;
}

.button:hover {
    background-color: #e0ad80;
}

.button:after {
    font-family: FontAwesome;
    content: "\f178";
    padding-left: 5px;
    display: inline-block;
}



/* header css */

.header {
    position: relative;
    height: 100vh;
}

.header__inner {
    bottom: 30%;
    right: 70px;
}

.header__title {
    font-size: 4em;
}

/* about project */

.project, .virtual, .author {
    margin-right: 70px;
    width: 30%;
    text-align: right;
}

.project__inner, .virtual__inner, .author__inner {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.virtual__moon {
    padding-top: 30px;
}

.virtual__moon a {
    color: #fff;
}

.virtual__subtitle  {
    text-align: right;
    width: 100%;
}

.virtual__item {
    height: 100px;
    background-position: right -30px center;
    background-size: 250%;
    text-align: center;
    position: relative;
    background-image: linear-gradient(#000, #000);
    transition: all .5s ease-in-out;
}

.virtual__item:hover {
    background-size: 350%;
    background-position: center center;
}

.virtual__item > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.niereg-deimos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/niereg_deimos.PNG);
}

.niereg-phobos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/niereg_phobos.PNG);
}

.elips {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/elips.PNG);
}

.sfera {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/sfera.PNG);
}

.wielosc {
   background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/20_scienny.PNG); 
}

.author__text {
    font-size: 1.2em;
}

.author__title {
    color: #e0ad80;
}